body{
    margin: 0;
    padding: 0;
    background-color: #fffaee;
    color: black;
}

@font-face {
    font-family: 'PixelCraft';
    src: url('./pixelcraft.ttf') format('truetype');
} 

/* walls */

#top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background: rgba(255, 250, 238, 0) url(./top.png) repeat-x scroll 50% 0%;
    pointer-events: none;
    image-rendering: pixelated;
}

#left{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255, 250, 238, 0) url(./left.png) repeat-y scroll 0% 50%;
    pointer-events: none;
    image-rendering: pixelated;
}

#right{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255, 250, 238, 0) url(./right.png) repeat-y scroll 100% 50%;
    pointer-events: none;
    image-rendering: pixelated;
}

#bottom{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255, 250, 238, 0) url(./bottom.png) repeat-x scroll 50% 100%;
    pointer-events: none;
    image-rendering: pixelated;
}

/* corners */

#left-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 13;
    background: rgba(255, 250, 238, 0) url(./left-top.png) no-repeat scroll 0% 0%;
    pointer-events: none;
    image-rendering: pixelated;
}

#right-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 13;
    background: rgba(255, 250, 238, 0) url(./right-top.png) no-repeat scroll 100% 0%;
    pointer-events: none;
    image-rendering: pixelated;
}

#left-bottom{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(255, 250, 238, 0) url(./left-bottom.png) no-repeat scroll 0% 100%;
    pointer-events: none;
    image-rendering: pixelated;
}

#right-bottom{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(255, 250, 238, 0) url(./right-bottom.png) no-repeat scroll 100% 100%;
    pointer-events: none;
    image-rendering: pixelated;
}

/* center */

#center{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 14;
    background: rgba(255, 250, 238, 0) url(./center.png) no-repeat scroll 50% 0%;
    pointer-events: none;
    image-rendering: pixelated;
}

/* canvas */

#canvas{
    margin: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

/* main code */

/*Task*/

.task {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    margin-top: 9px;
}

.task .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark { /*unchecked*/
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('./empty_icon.png');
    background-size: cover;
    image-rendering: pixelated;

    top: 5px;
}

.task .checkbox:checked ~ .checkmark { /*checked*/
    background-image: url('./full_icon.png');
    background-size: cover;
    image-rendering: pixelated;
}

.task .checkbox:checked ~ .title {
    color: #30b05c;
}

.task .checkbox:checked ~ .checkmark:after {
    display: block;
}

.task .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.title {
    font-size: 20px;
    color: black;
    border: none;
    background-color: invisible;
    width: 100%;
    box-sizing: border-box;
    resize: none;

    font-family: "PixelCraft", monospace;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.2;

    caret-color: black;
    caret-shape: underscore; /* maybe one day this will work */
}

.title:focus {
    outline: none;
}